<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lvyerose.baseframework">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".base.other.LoginActivity">
        </activity>
        <activity android:name=".base.other.OtherMainActivity">
        </activity>
        <activity android:name=".base.permission.PermissionMainActivity"/>
        <activity android:name=".base.recycler.RecyclerCompleteActivity"/>
        <activity android:name=".base.recycler.RecyclerMultiple1Activity"/>
        <activity android:name=".base.recycler.RecyclerMultiple2Activity">
        </activity>
        <activity android:name=".base.recycler.RecyclerSimpleOneActivity">
        </activity>
        <activity android:name=".base.mvp.MoreModelMvpActivity">
        </activity>
        <activity
                android:name=".base.mvp.SimpleFragmentActivity"
                android:label="@string/module_base_name"/>
        <activity
                android:name=".base.recycler.RecyclerMainActivity"
                android:label="@string/module_base_name"/>
        <activity
                android:name=".base.BaseTestActivity"
                android:label="@string/module_base_name"/>
        <activity
                android:name=".tools.ToolsTestActivity"
                android:label="@string/module_tools_name"/>
        <activity android:name=".base.mvp.MvpMainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>